@import "../pages/index.module.scss";

div.article {
  border: $secondary-main-color 2px solid;
  padding: 0.8rem 1rem;
  border-radius: 7px;
  width: 55vw;
  height:13vw;
  margin: 1rem 0 2rem 0;
  font-family: "Inter";
  cursor: pointer;
  color: $secondary-main-color;
  box-shadow: 10px 10px 0px 0px $hover-color;
  -webkit-box-shadow: 10px 10px 0px 0px $hover-color;
  -moz-box-shadow: 10px 10px 0px 0px $hover-color;
  background: $bg-main-color;
  //    border-radius: 24px;
  //  background: #fcfcfc;
  //      box-shadow:  13px 13px 56px #fcfcfc,
  //          -13px -13px 56px #ffffff;

  div.articleHead h1 {
    font-size: 2vw;
    color: $hover-color;
  }
  div.articleHead h1:hover {
    color: $secondary-main-color;
  }

  div.articleDate {
    margin: 5px 0 0 0;
    font-size: 0.9vw;
    b{
      font-weight: 500;
      font-size: 1vw;
    }
  }

  div.someBlogData {
    height: 6vw;
    margin: 6px 0 0 0;
    overflow: hidden;
    font-size: 0.9vw;
    b{
      font-weight: 500;
      font-weight: 1vw;
    }
  }
}

div.article:hover {
  box-shadow: 10px 10px 0px 0px $secondary-main-color;
  -webkit-box-shadow: 10px 10px 0px 0px $secondary-main-color;
  -moz-box-shadow: 10px 10px 0px 0px $secondary-main-color;
}

@media screen and (max-width: 450px) {
  div.article {
    border: $secondary-main-color 2px solid;
    padding: 0.4rem 0.7rem;
    border-radius: 7px;
    width: 94vw;
    height: 39vw;
    margin: 0.5rem 0 1.6rem 0;
    font-family: "Inter";
    cursor: pointer;
    color: $secondary-main-color;
    box-shadow: 10px 10px 0px 0px $hover-color;
    -webkit-box-shadow: 10px 10px 0px 0px $hover-color;
    -moz-box-shadow: 10px 10px 0px 0px $hover-color;
    background: $bg-main-color;
    //    border-radius: 24px;
    //  background: #fcfcfc;
    //      box-shadow:  13px 13px 56px #fcfcfc,
    //          -13px -13px 56px #ffffff;

    div.articleHead h1 {
      font-size: 4.5vw;
      color: $hover-color;
    }
    div.articleHead h1:hover {
      color: $secondary-main-color;
    }

    div.articleDate {
      margin: 3px 0 0 0;
      font-size: 3vw;
      b{
        font-size: 3.5vw;
      }
    }

    div.someBlogData {
      height: 20vw;
      margin: 3px 0 0 0;
      overflow: hidden;
      font-size: 3vw;
    }
  }

  div.article:hover {
    box-shadow: 10px 10px 0px 0px $secondary-main-color;
    -webkit-box-shadow: 10px 10px 0px 0px $secondary-main-color;
    -moz-box-shadow: 10px 10px 0px 0px $secondary-main-color;
  }
}

